body > div:nth-child(1) > p:nth-child(1){
    color: green;
}

body > div:nth-child(1) > p:nth-child(3){
    color: red;
}

body > div:nth-child(1) > p:nth-child(3) > em{
    color: cyan;
    font-style: italic;
}

body > div:nth-child(1) > em {
    font-style: italic;
}

body > div:nth-child(1) > p:nth-last-child(1){
    color: green;
}

body > div:nth-child(2) {
    color: plum;
}